.image-size {
    width: 60vh;
    height: 60vh;
}

h2 {
    letter-spacing: 0.6em;
    text-align: center;
}

.mb-100 {
    margin-top: -21rem;
}

.gap-100 {
    gap: 27rem;
}

@media only screen and (min-width: 768px) {
    .text-10 {
        font-size: 400px;
    }
  }